.article_title {
    margin-top: 10%;
}

.text_box {
    padding: 30px;
    background-color: #fff;
    height: 100%;
}

.carousel-control {
    width: 0% !important;
}

.title_section {
    background-color: #eee !important;
}


.carousel {
    margin-top: 5%;
}

.side_card.topics_items {
    padding: 16px;
    color: #7f7e7b;
    background-color: #fff;
    width: 100%;
}
.topic_list {
    font-size: 20px;
    color: #7f7e7b;
}

.topic_list a:hover {
    color: #34d265;
    cursor: pointer;
    text-decoration: none;
}

.subscribe {
    padding-top: 10%;
    font-size: 20px;
}

.subscribe_btn {
    width: 100%;
    margin: 0;
    margin-top: 3%;
    background-color: #34d265 !important;
    color: #fff;
}

.subscribe_btn:hover {
    background-color: #206d57 !important;
    color: #fff !important;
}

.read_btn {
    padding-left: 5%;
}

.display-7 {
    font-size: 2rem !important;
}

.display-4 {
    font-size: 1.8rem !important;
    color: #bcbcbc;
}

.read_btn a:hover {
    color: #34d265;
    cursor: pointer;
    text-decoration: none;
}

.carousel_div {
    margin-top: 50px;
}

.card_image {
    height: 180px;
}

.carousel-indicators .active {
	background-color: #000 !important;
}
.carousel-indicators li {
	border: 1px solid #000 !important;
}
.card{
    height: 500px;
}

@media screen and (max-width: 991px) {
    .carousel {
        display: none;
    }
    .card {
        height: 750px !important;
    }

    .article_title {
        margin-top: 15%;
    }

    .hide_div{
	display: none;
}

}

@media screen and (max-width: 767px) {
    .card_image {
        height: 300px;
    }

    .article_title {
        margin-top: 25%;
    }

    .hide_div {
        display: none;
    }

    .subscribe_btn {
        padding: 1.2rem 3rem !important;
    }
    button.btn.subscribe_btn {
    font-size: 1.5rem !important;
}
}

@media screen and (max-width: 1199px) {
    .cid-rERAD6Pm38 .mbr-text {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 767px) {
    .card {
    height: auto !important;
}
}
@media screen and (max-width: 576px) {
    .article_title {
        margin-top: 30%;
    }

    .hide_div {
        display: none;
    }
}